body {
	background-color: white;
}

.text-titulo {
	color: #DBB601;
}

.titulo {
	background-color: #281498;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DBB601;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #281498;
}

.carousel-inner {
  width: 50%;
}

.item {
	width: 100%;
}

.img0 {
	width: 100%;
}

.img1 {
	width: 100%;
}

.img2 {
	width: 100%;
}

h2 {
  text-align: center;
}

.brasão {
  width: 25%;
  
}

.intro1 {
   background-color: #DBB601;
}

.introtext {
  margin-left: 100px;
  font-size: 25px;
  font-family: Times New Roman;
}